api_platform:
    title: 'Hello API Platform'
    version: '1.0.0'
    # Hemos movido 'json' al principio para que sea el formato preferido
    formats:
        json: ['application/json']
        jsonld: ['application/ld+json']
        html: ['text/html']
    docs_formats:
        jsonopenapi: ['application/vnd.openapi+json']
        html: ['text/html']
    defaults:
        stateless: true
        cache_headers:
            vary: ['Content-Type', 'Authorization', 'Origin']
        extra_properties:
            standard_put: true
            rfc_7807_compliant_errors: true
    mapping:
        paths: ['%kernel.project_dir%/src/Entity']
    patch_formats:
        json: ['application/merge-patch+json']
    swagger:
        versions: [3]
